asgiref==3.2.7
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
decorator==4.4.2
Django==3.0.12
django-cors-headers==3.2.1
idna==2.9
networkx==2.4
nltk==3.4.5
numpy==1.18.2
pytz==2019.3
requests==2.23.0
rogue==0.0.2
rouge==1.0.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.8
